<div class="card card-body py-1 my-fix">
  <form [formGroup]="smsTemplateForm" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
      <div class="col-md-4 d-flex" style="padding: 0">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa-icon [icon]="signatureIcon"></fa-icon>
              <i class="fas fa-file-signature"></i>
            </div>
          </div>
          <input
            type="text"
            formControlName="title"
            class="form-control mr-2"
            placeholder="სახელი"
          />
        </div>
      </div>
      <div class="col-md-8" style="padding: 0">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa-icon [icon]="textIcon"></fa-icon>
            </div>
          </div>
          <input
            type="text"
            formControlName="text"
            class="form-control"
            placeholder="ტექსტი"
          />
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-sm btn-block btn-success"
      [disabled]="smsTemplateForm.invalid"
    >
      <fa-icon [icon]="plusIcon"></fa-icon>
    </button>
  </form>
</div>
