<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mt-5">

        <div class="card-header text-center">
          <i class="fas fa-lock fa-4x card-img-top"></i>
        </div>
        <div class="card-body">
          მრავალჯერადი წარუმატებელი ავტორიზაციის მცდელობის გამო თქვენი ანგარიში დაიბლოკა.
        </div>
        <div class="card-footer">
          <p class="text-muted">
            დაუკავშირდით IT სამსახურს
          </p>
        </div>
      </div>
    </div>
  </div>
</div>